
canvas {
  border: 1px solid black;
  border-radius: 50%;
  /* opacity: 0.8; */
  height: 600px;
  width: 600px;
  margin: 4em;
}

header {
  display: flex;
  width: 100wh;
  justify-content: flex-start;
}

#title {
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

label.color-picker {
  width: 150px;
  /* Width of color picker */
  border: 1px solid #ccc;
  /* Outer border */
  border-radius: 3px;
  /* Border radius of outer border */
  padding: 5px;
  /* Space between outer border and color picker */
  background: #fff;
  /* Color between outer border and color picker */
  display: block;
  /* Contain color picker within label */
}

label.color-picker>span {
  border: 1px solid #ccc;
  /* Border around color in color picker */
  display: block;
  /* Contain color picker within span */
}

label.color-picker>span>input[type=color] {
  height: 10px;
  /* Height of color picker */
  display: block;
  /* Avoids space above/below color picker */
  width: 100%;
  /* Fill available horizontal space */
  border: none;
  /* Remove browser's border */
  padding: 0px;
  /* Remove space around color picker in Chrome */
}


/* Chrome styles */

label.color-picker>span>input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  /* Remove browser's padding around color picker */
}

label.color-picker>span>input[type=color]::-webkit-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
}


/* Firefox styles */

label.color-picker>span>input[type=color]::-moz-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
}

label.color-picker>span>input[type=color]::-moz-focus-inner {
  border: none;
  /* Remove browser's padding around color in color picker */
  padding: 0;
  /* Remove browser's padding around color in color picker */
}

body {
  display: flex;
  justify-content: space-around;
}

